.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  height: 40px;
  padding: 0px 10px;
}
.header > div:first-child {
  display: flex;
  gap: 10px;
}
.header div i {
  padding: 12px;
  cursor: pointer;
}
.header div i {
  &:hover {
    background-color: #ccc;
    color: #000;
  }
}

.blogMain_header {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogMain_header h2 {
  text-transform: uppercase;
  font-size: 48px;
}
.blogMain_header p {
  font-size: 16px;
}
.blogMain_header span {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 1px 6px;
}

.blogMain_Img {
  position: relative;
}
.blogMain_Img div {
  position: absolute;
  top: 450px;
  left: 30px;
}
.blogMain_Img div h3 {
  font-size: 36px;
  color: #fff;
  letter-spacing: 2px;
}
.blogMain_Img div h1 {
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.7;
}
.blogMain_Img div button {
  text-transform: uppercase;
  font-size: 18px;
  background-color: #a1a1a1;
  opacity: 0.8;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}

.blogMain_Title {
  margin: 25px 30px;
  display: flex;
  justify-content: space-between;
}
.blogMain_Title > div:first-child {
  width: 65%;
}
.blogMain_Title .title_aside {
  width: 34%;
  margin: 0 0 0 30px;
}
.title_main {
  background-color: #fff;
}
.title_head {
  text-align: center;
  padding: 20px;
}
.title_head h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.title_head h5 {
  font-size: 18px;
  font-weight: 400;
}
.title_head span {
  color: #666;
  border: 1px solid #ffd8d6;
}
.title_img {
  margin: 10px 25px;
}
.title_img img {
  margin-bottom: 10px;
}
.title_img p {
  font-size: 15px;
  line-height: 1.7;
  text-align: justify;
  margin: 15px 0px;
}
.title_img p span {
  font-weight: bold;
  border: 1px solid #ffd8d6;
}
.title_replie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 25px;
  padding: 0 0 30px 0;
}
.title_like {
  display: flex;
  gap: 5px;
  padding: 10px 15px;
  border: 1px solid #dbdbdb;
  transition: 0.3s;
  cursor: pointer;
}
.title_like:hover {
  background-color: #dbdbdb;
}
.title_like h5 {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.title_like .fa-solid {
  margin-top: 3px;
}
.title_replie .replie {
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
}
.title_replie .replie:hover {
  background-color: #ccc;
  h5 {
    color: #000;
  }
}
.title_replie .replie h5 {
  color: #fff;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.title_replie .replie span {
  background-color: #fff;
  padding: 0 8px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
.avatar_girl2 {
  background-color: #000;
  margin-bottom: 36px;
}
.avatar_girl2 img {
  width: 100%;
  filter: grayscale(75%);
}
.avatar_girl2 div {
  padding: 10px 15px 20px;
}
.avatar_girl2 h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.avatar_girl2 p {
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
}

.title_aside .posts,
.title_aside .advertise,
.title_aside .tags,
.title_aside .inspiration,
.title_aside .follow,
.title_aside .subscribe {
  margin-bottom: 36px;
  background-color: #fff;
}
.title_aside .posts > div:first-child,
.title_aside .advertise > div:first-child,
.title_aside .tags > div:first-child,
.title_aside .inspiration > div:first-child,
.title_aside .follow > div:first-child,
.title_aside .subscribe > div:first-child {
  background-color: #000;
  padding: 18px;
}
.title_aside .posts h3,
.title_aside .advertise h3,
.title_aside .tags h3,
.title_aside .inspiration h3,
.title_aside .follow h3,
.title_aside .subscribe h3 {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.title_aside .posts img {
  width: 50px;
}
.title_aside .posts ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}
.title_aside .posts ul li:hover {
  background-color: #ccc;
}
.posts ul li div {
  display: flex;
  flex-direction: column;
}
.posts ul li div > span:first-child {
  font-size: 18px;
}
.posts ul li div > span:last-child {
  font-size: 15px;
}

.advertise .ad_post {
  height: 200px;
  background-color: #f1f1f1;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_aside .advertise {
  height: 300px;
}

.tags .tag_span {
  background-color: #fff;
  font-size: 12px;
  height: 100px;
  padding: 10px;
}
.tags .tag_span .active {
  background-color: #000;
  color: #fff;
  font-size: 15px;
}
.tags .tag_span span {
  background-color: #f1f1f1;
  display: inline-block;
  margin-bottom: 16px;
  padding: 5px;
}

.inspiration .ins_img {
  padding: 12px;
}
.inspiration .ins_img img {
  width: 46%;
  padding: 5px;
}

.follow .follow_link {
  padding: 18px;
}
.follow_link i {
  font-size: 25px;
  padding-left: 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.subscribe_form {
  height: 140px;
  padding: 20px;
}
.subscribe .subscribe_form p {
  font-size: 15px;
}
.subscribe_form div input,
.subscribe_form div button {
  width: 100%;
}
.subscribe_form div input {
  border: 1px solid #ccc;
  display: block;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
}
.subscribe_form div button {
  background-color: #f44336;
  border: none;
  padding: 8px;
  color: #fff;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
    color: #000;
  }
}
.subscribe_form div {
  margin-top: 15px;
}

footer {
  background-color: #616161;
  height: 150px;
  padding: 30px;
}
footer a {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
    color: #000;
  }
}
footer a i {
  font-weight: bold;
  padding-right: 5px;
}

@media (max-width: 743px) {
  .header {
    display: none;
  }
  .blogMain_header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .blogMain_header h2 {
    font-size: 25px;
  }
  .blogMain_header p {
    font-size: 14px;
  }
  .blogMain_header span {
    font-size: 14px;
  }
  .blogMain_Img div {
    top: 100px;
  }
  .blogMain_Img div h3 {
    font-size: 24px;
  }
  .blogMain_Img div h1 {
    font-size: 30px;
  }
  .blogMain_Title {
    flex-direction: column;
  }
  .blogMain_Title > div:first-child {
    width: 100%;
  }
  .blogMain_Title .title_aside {
    width: 100%;
    margin: 0;
  }
}
